<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header">
		        <!-- change span to group name -->
				<a class="navbar-brand" ng-href="#/"><span>INSERT GROUP NAME</span></a>
			</div>

			<div>
				<ul class="nav navbar-nav navbar-right">
					<li ng-class="navbar-btn">
						<a ng-href="#/about_us"><span class="glyphicon glyphicon-sunglasses"></span> About Us! </a>
					</li>

					<li>
						<a ng-href="#/about_members"><span class="glyphicon glyphicon-education"></span> Meet our members </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
